<md-card style="max-width:400px" class="event-card">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">[[ ct.dtx.title ]]</span>
      <span class="md-subhead">[[ ct.dtx.subtitle ]]</span>
    </md-card-title-text>
    <md-card-title-media>
      <img ng-if="ct.dtx.img" ng-src="[[ ct.dtx.img ]]" class="event-image">
      <img ng-if="!ct.dtx.img" src="./public/assets/default-party.jpg" class="event-image">
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end end" md-padding="4px">
    <md-button>Donate</md-button>
    <md-menu>
      <md-button class="md-primary md-raised" aria-label="RSVP" md-menu-origin ng-click="ct.openRSVPMenu($mdMenu, $event)">RSVP</md-button>
      <md-menu-content>
        <md-menu-item ng-repeat="choice in ct.RSVP_CHOICES">
          <md-button ng-click="ct.setRSVP(choice)">[[choice]]</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-card-actions>
  <md-chips md-margin class="md-mini">
    <md-chip>RSVP: <span ng-if="!ct.RSVP">?</span>[[ct.RSVP]]</md-chip>
  </md-chips>
</md-card>