<md-card style="max-width:400px" class="event-card">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">[[ ct.dtx.title ]]</span>
      <div layout="column">
        <div layout="row">
          <md-icon style="max-width:30px" md-svg-src="public/assets/location.svg" flex></md-icon>
          <span flex>[[ ct.dtx.location ]]</span>
        </div>
        <div layout="row">
          <md-icon style="max-width:30px" md-svg-src="public/assets/time.svg" flex></md-icon>
          <span flex>[[ ct.dtx.date | date:'yyyy-MM-dd HH:mm' ]]</span>
        </div>
      </div>
    </md-card-title-text>
    <md-card-title-media>
      <img ng-if="ct.dtx.imageURL" ng-src="[[ ct.dtx.imageURL ]]" class="event-image">
      <img ng-if="!ct.dtx.imageURL" src="./public/assets/default-party.jpg" class="event-image">
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end end" md-padding="4px">
    <md-button>Donate</md-button>
    <md-menu>
      <md-button class="md-primary md-raised" aria-label="RSVP" md-menu-origin ng-click="ct.openRSVPMenu($mdMenu, $event)">RSVP</md-button>
      <md-menu-content>
        <md-menu-item ng-repeat="choice in ct.RSVP_CHOICES">
          <md-button ng-click="ct.setRSVP(choice)">[[choice]]</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-card-actions>
  <md-chips md-margin class="md-mini">
    <md-chip>RSVP: <span ng-if="!ct.RSVP">?</span>[[ct.RSVP]]</md-chip>
  </md-chips>
  <div ng-mouseenter="ct.showAttendees = True">
    <span><i>Attendees:</i></span>
    <div ng-show="ct.showAttendees">
      <span ng-repeat="guest in ct.dtx.attending track by $index">[[ guest ]]</span>
    </div>
  </div>

</md-card>