<md-dialog aria-label="Create an Event" class="creation-modal">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create an Event</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="/public/assets/clear.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <form name="createEventForm">

      <md-input-container class="md-block" flex-gt-sm>
        <label>Title</label>
        <input name="eventname" md-maxlength="50" ng-model="event.eventname" required>
        <div ng-messages="createEventForm.eventname.$error">
          <div ng-message="required" class="form-error">This is required.</div>
          <div ng-message="md-maxlength" class="form-error">50 characters of fewer. It's a title, not a novel.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Location</label>
        <input name="location" md-maxlength="50" ng-model="event.location" required>
        <div ng-messages="createEventForm.location.$error">
          <div ng-message="required" class="form-error">This is required.</div>
          <div ng-message="md-maxlength" class="form-error">50 characters of fewer. It's a location, not a declaraction of war.</div>
        </div>
      </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Image URL</label>
      <input name="image" ng-model="event.imagelink" ng-required="true" type="url">
      <div ng-messages="createEventForm.image.$error">
        <div ng-message="required" class="form-error">This is required.</div>
        <div ng-message="invalid" class="form-error">A valid URL is required</div>
      </div>
        <div class="form-error" ng-if="createEventForm.image.$touched && !validPicture()">Not a valid picture url.</div>

    </md-input-container>


    <!-- TODO: racewright write validation logic -->
    <div layout="row" class="md-block">

      <md-input-container>
        <label>Time</label>
        <input name="time" ng-model="event.time" type="time" ng-required="true">
      </md-input-container>
      <md-input-container>
        <label>Duration (minutes)</label>
        <input name="duration" ng-model="event.duration" type="number" ng-required="true">
      </md-input-container>

      <md-input-container>
        <label>Enter date</label>
        <md-datepicker name="date" ng-model="event.date" ng-required="true"></md-datepicker>
      </md-input-container>
    </div>
  </form>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">Cancel</md-button>
    <md-button ng-click="submit()" class="md-primary md-raised">Create</md-button>
  </md-dialog-actions>

</md-dialog>