<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <title>Strong Feather Events: Create Event</title>
    {% include 'scripts.html' %}

    <script src="/public/components/event/controller.js"></script>

    <script src="/public/components/register/controller.js"></script>
    <script src="/public/app/services.js"></script>
    <script src="/public/app/main.js"></script>
  </head>
  {% include 'header.html' %}

  <body ng-app="EventApp" ng-controller="MainCtrl as ctrl" ng-cloak ng-init="ctrl.showModal($event, 'event')">



  </body>
 {% include 'footer.html' %}
</html>