<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <title>Strong Feather Events</title>


    {% include 'scripts.html' %}

    <script src="/public/components/event/controller.js"></script>

    <script src="/public/components/register/controller.js"></script>
    <script src="/public/app/services.js"></script>
    <script src="/public/app/main.js"></script>
  </head>
  {% include 'header.html' %}

  <body ng-app="EventApp" ng-controller="MainCtrl as ctrl" ng-cloak>
    <div ng-view></div>

    <!--TODO: racewright. Make grid responsive. -->
    <div class="tilegrid">
      <md-grid-list md-cols="1" md-cols-gt-md="2" md-cols-gt-lg="3" md-row-height="1:1" md-gutter="12px">
        <md-grid-tile ng-repeat="event in ctrl.events track by $index">
          <event-card dtx="event" msg="ctrl.messaging" id="event_[[ $index ]]"></event-card>
        </md-grid-tile>
      </md-grid-list>
    </div>

  </body>
  {% include 'footer.html' %}
</html>