<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CPSC213 Todo</title>
</head>

<body>

    <h1>Social todo app for cpsc213, using Koa and Postgres</h1>

    {{#if user}}
    <h2 class="welcome">Welcome, {{user.name}}</h2>
    <div>
        <h4>Your Tasks</h4>

        {{#if tasks}}
        <ul class="tasks">
            {{#each tasks}}
            <li class="task">
                <span class="task-title">{{this.name}}</span>
            </li>
            {{/each}}
        </ul>
        {{else}} No tasks to show! {{/if}}
    </div>

    {{else}} {{/if}}

</body>

</html>